<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="appType" value=""/>
  <variable name="appId" value=""/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target name="all" xsi:type="File"
      fileName="${basedir}/Logs/Log.txt"
      deleteOldFileOnStartup="false"
      layout="${longdata} ${var:appTypeFormat} ${var:appIdFormat} ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=false:skipFrames=2} ${message}" />
  </targets>
  <targets>
    <target name="trace" xsi:type="File"
      openFileCacheTimeout="3600"
      concurrentWrites="false"
      fileName="${basedir}/Logs/Log-${var:appType}-${var:appId}/Trace/${shortdate}.log"
      deleteOldFileOnStartup="false"
      layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${message}${newline}${stacktrace:format=Raw:topFrames=10:skipFrames=0}"/>
    <target name="traceConsole" type="ColoredConsole"
      layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${message}${newline}${stacktrace:format=Raw:topFrames=10:skipFrames=0}"/>
  </targets>

  <targets>
    <target name="debug" xsi:type="File"
			openFileCacheTimeout="3600"
			concurrentWrites="false"
			fileName="${basedir}/Logs/Log-${var:appType}-${var:appId}/Debug/${shortdate}.log"
			deleteOldFileOnStartup="false"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=false:skipFrames=2} ${message}" />
    <target name="debugConsole" type="ColoredConsole"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=false:skipFrames=2} ${message}" />
  </targets>
  <targets>
    <target name="info" xsi:type="File"
			openFileCacheTimeout="3600"
			concurrentWrites="false"
			fileName="${basedir}/Logs/Log-${var:appType}-${var:appId}/Info/${shortdate}.log"
			deleteOldFileOnStartup="false"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=false:skipFrames=2} ${message}" />
    <target name="infoConsole" type="ColoredConsole"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=false:skipFrames=2} ${message}" />
  </targets>

  <targets>
    <target name="error" xsi:type="File"
			openFileCacheTimeout="3600"
			concurrentWrites="false"
			fileName="${basedir}/Logs/Log-${var:appType}-${var:appId}/Error/${shortdate}.log"
			deleteOldFileOnStartup="false"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${message} ${newline} ${stacktrace:format=Raw:topFrames=10:skipFrames=0}" />
    <target name="errorConsole" type="ColoredConsole"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${message} ${newline} ${stacktrace:format=Raw:topFrames=10:skipFrames=0}" />
  </targets>

  <targets>
    <target name="warn" xsi:type="File"
			openFileCacheTimeout="3600"
			concurrentWrites="false"
			fileName="${basedir}/Logs/Log-${var:appType}-${var:appId}/Warning/${shortdate}.log"
			deleteOldFileOnStartup="false"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${message}" />
    <target name="warnConsole" type="ColoredConsole"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${message}" />
  </targets>

  <targets>
    <target name="fatal" xsi:type="File"
			openFileCacheTimeout="3600"
			concurrentWrites="false"
			fileName="${basedir}/Logs/Log-${var:appType}-${var:appId}/Fatal/${shortdate}.log"
			deleteOldFileOnStartup="false"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${message} ${newline} ${stacktrace:format=Raw:topFrames=10:skipFrames=0}" />
    <target name="fatalConsole" type="ColoredConsole"
			layout="${longdate} ${var:appTypeFormat} ${var:appIdFormat} ${message} ${newline} ${stacktrace:format=Raw:topFrames=10:skipFrames=0}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*" minLevel="trace" writeto="all"/>
    <logger name="*" minLevel="trace" maxlevel="trace" writeto="trace"/>
    <logger name="*" minLevel="trace" maxlevel="trace" writeto="traceConsole"/>
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debug" />
    <!--<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debugConsole" />-->
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="info" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoConsole" />
    <logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="warn" />
    <logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="warnConsole" />
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="error" />
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="errorConsole" />
    <logger name="*" minlevel="Fatal" maxlevel="Fatal" writeTo="fatal" />
    <logger name="*" minlevel="Fatal" maxlevel="Fatal" writeTo="fatalConsole" />
  </rules>
</nlog>
