<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MessagePackAnalyzer" version="1.6.0" targetFramework="net46" />
  <package id="NLog" version="4.5.10" targetFramework="net46" />
  <package id="NLog.Config" version="4.5.10" targetFramework="net46" />
  <package id="NLog.Schema" version="4.5.10" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" />
</packages>